@charset "utf-8";
/* CSS Document */

.removeBox {

}
.svgArrow {
	position: fixed;
	cursor: pointer;
	display: none;
}

.svgClose {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

svg:hover .mainShape {
	fill: #c00;
}
svg:hover line {
	stroke: #fff;
}

.slideShow {
	width: 100%;
	position: absolute;
}

img {
	border-color: #CCC;
	border-style: solid;
	border-width: 1px;
}
.content img {

	display: inline;
	height: auto;
}
body {
	font-family: "Armata", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 120%;
	margin: 0px;
	background-color: #eee;
	color: #000;
	height: 100%;
}
.participation {
	margin-top: 5px;
	font-size: smaller;
	text-transform: uppercase;
	text-decoration: none;
}

ul {
	margin-left: 10px;
	padding-left: 10px;
}
li {
	text-indent: 0px;
}

.header {
	text-align: center;
	font-size: larger;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

#subline {
	font-size: 14px;
	color: #000;
	padding: 0px 10px 0px 0px;
	letter-spacing: 1px;
	width: 100%;
}

#selectionMenu {
	margin: 15px 0px 12px 0px;
	width: 100%;
}

.linkButton {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #333;
}
.linkButton {

	opacity: .5;
}
.linkButton:visited {
	color: #333;
	opacity: 0.5;
}

.roundButton {
	position: relative;
	cursor: pointer;
	padding: 4px 8px 4px 8px;
	text-decoration: underline;
	transition-property: background-color;
	border-width: 1px;
	border-style: solid;
	border-color: #eee;
	border-radius: 3px 3px;
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
	margin: 0px 10px 10px 10px;
}

.roundButton:link {

	color: #000;
	opacity: .5;
}

.roundButton:hover {
	text-decoration: underline;
	border-color: #fff;
}

.roundButton .svgClose {
	-webkit-filter: drop-shadow( 0px 4px 4px #999 );
	filter: drop-shadow( 0px 4px 4px #999 );
	visibility: hidden;
	position: absolute;
	right: -9px;
	top: -9px;
}
.roundButton:hover .svgClose {
	opacity: 1;
	visibility: visible;
}

.linkButton:hover, #selectionMenu .on {
	background-color: #ddd;
	border-color: #999;
}

h1 {
	position: relative;
	font-weight: 400;
	font-family: "Fjalla One", arial, helvetica, sans-serif;
	margin: 18px 0px 12px 0px;
	font-size: 24px;
	color: #000;
	text-align: center;
}
h2 {
	font-weight: 400;
	font-size: 24px;
	line-height: 110%;
	font-family: "Fjalla One", arial, helvetica, sans-serif;
	margin-bottom: 5px;
	text-transform: uppercase;
	text-decoration: inherit;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}

descriptionContenu {
	display: none;
}
.content {

}

.subtitle {
	position: relative;
	top: 0px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	font-weight: 200;
	background-color: #C00;
	padding: 1px 2% 0px 2%;
}

.project {
	-webkit-user-select: none;
	background-color: #fff;
	border: 1px solid;
	border-color: #ccc;
	box-shadow: 0px 4px 4px 1px #dedede;
	border-radius: 0px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	transition-property: width, height, left, top;
	transition-duration: .5s;
	-webkit-transition-property: width, height, left, top;
	-webkit-transition-duration: .5s;
	border-radius: 3px 3px;
}
.description span {
	text-decoration: none;
}
.description {
	width: 300px;
	font-weight: 100;
	font-size: 13px;
	line-height: 160%;
}
.project:hover {
	box-shadow: none;
}

.project:hover h2 {
	text-decoration: underline;
}

footer {
	position: static;
	border: #CCC;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	bottom: 0px;
	width: 100%;
	bottom: 0px;
	background-color: #FFF;
	padding: 10px 0px 10px 0px;
}

.contact {
	margin-top: 20px;
	font-size: 12px;
}
.adress span {

	margin-left: 5px;
	margin-right: 2px;
}

.contact a:visited {
	color: #000;
}
.contact a {
	padding: 0px 10px 0px 10px;
}

.contact a:link {
	padding: 10px;
	color: #000;
}
.contact img {
	border: none;
}

#sourceButton {
	position: absolute;
	color: #000;
	right: 0px;
	cursor: pointer;
	padding: 0px 20px 0px 0px;
}

#sourceButton span {
	text-decoration: underline;
}

.popupContainer {

	position: fixed;
	width: 400px;
	background-color: #FFF;
	bottom: 50px;
	border: #000;
	border-width: 2px;
	border-style: solid;
	height: 600px;
	-webkit-transition-property: bottom;
	-webkit-transition-duration: .3s;
	transition-property: height;
	transition-duration: .1s;
	right: 10px;
	z-index: 3;
}
.popupContainer  .svgClose {
	right: 20px;
}

.footerPopup {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: smaller;
	padding: 30px 60px 30px 30px;
	height: 100%;
	overflow: scroll;
}

.footerPopup a {
	font-weight: 800;
}

/*  PORTRAIT  */
body {
	width: 100%;
	overflow-y: hidden;
}

.description {
	width: 400px;
	margin: 30px 0px 0px 320px;
}
#container {
	padding: 0px 0px 60px 0px;
}
.thumb {
	position: absolute;
	top: 2px;
	left: 1px;
	border-width: 0px 1px 0px 0px;
	width: 300px;
	height: 225px;
	float: left;
	z-index: 2;
}

.project {
	width: 90%;
	height: 227px;
	overflow: hidden;
	margin: 50px auto 15px auto;
}
.project .subtitle {
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	width: 100%;
	padding: 0px 0px 0px 320px;
	z-index: 1;
}

/*Test responsive*/
.responsiveV .project .description {
	position: relative;
	width: 67%;
	padding-left: 2%;
	display: block;
	overflow: hidden;
}

.responsiveV  #container {
	padding: 0px 0px 60px 0px;
}
.responsiveV  .thumb {

	border-width: 0px 1px 0px 0px;
	width: 30%;
	height: auto;
	float: left;
}

.responsiveV  .project {
	width: 90%;
	overflow: visible;
	margin: 50px auto 15px auto;
}
.responsiveV  .project .subtitle {
	box-sizing: border-box;
	width: 100%;
	padding: 0px 0px 0px 0px;
	z-index: 1;
}
/*end test*/

/*}
 end portrait*/

@media screen and (orientation: landscape) {

	.changeScrollDirection  html {
		width: 100%;
	}
	.changeScrollDirection .header {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
	}

	.changeScrollDirection  .svgArrow {
		display: block;
	}

	.changeScrollDirection  .thumb {
		width: 350px;
		height: 262px;
		position: static;
		float: none;
		border-width: 0px 0px 1px 0px;
	}
	.changeScrollDirection  .description {
		width: 92%;
		margin: 0% 4% 4% 4%;
	}

	.changeScrollDirection  footer {
		position: fixed;
		bottom: 0px;
		left: 0px;
	}

	.changeScrollDirection  .project {
		top: 160px;
		float: left;
		width: 352px;
		height: 560px;
		margin: 0px 15px 0px 15px;
	}
	.changeScrollDirection  .project .subtitle {
		display: block;
		position: static;
		margin: 0px;
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		padding: 0px 5px 0px 5px;
	}

}
